
.centro{

    width: 700px; 
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    
}
/*CAPA DIO FIME*/
.filme{
    height: 300px;
    width: 700px;
    text-align: center;
    border: 1px ridge #87CEEB;
     
}
/*AREA PRINCIPAL*/
.area-pricipal{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    background-color: #FA8072;
}
/*TEXTO
.texto{
    font-size: ;
}*/

/*SINOPSE*/
.sinopse{
    font-family:  Courier, monospace;
    color: 	#800000;
    text-align: center;
}

/*ELENCO*/
.elenco{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    
}
/*PERSONAGENS*/
#personagem1, #personagem2, #personagem3{
    
    height: 220px;
    width: 220px;
    float: left;
    padding: 2px;
    margin-bottom: 20px;
    
}
H1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.comentarios{
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 700px;
    
    
    
}

.padrao{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 100px;
    border: groove 5px;
    
    
}

.pessoa1, .pessoa2, .pessoa3, .pessoa4{
    width: 60px;
    height: 70px;
    border-radius: 30px;
    padding-top: 5px;
    padding-left: 2px;
    
    float: left;       
    margin-right: 30px;     
}
.nome1, .nome2, .nome3, .nome4{
    
    padding-left: 50px;
    font-size: 18px;
    margin-bottom: 2px;
    
    
}

 .comentario{
    height: 80px;
    width: 280px;
    border:solid red 1px;
    padding-left: 90px;

 }


 /*TITULOS COMENTARIOS*/
 .titulo{
     text-align: center;

    
 }