body, p{
    margin: 0px;
    padding: 0px;
}

.content{
    width: 100%;
    min-height: 1000px;
    height: auto;
    background-image: url(../img/d.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    width: 100%;
    height: 35px;
    background-color: aliceblue;
    padding-top: 15px;
}

.centro{
    width: 1190px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    
}
.icon{
    width: 40px;
    height: 40px;
    float: left;
    background-image: url(../img/Captura.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -10px;
}
.page{
    width: 160px;
    height: 20px;
    float: left;
    margin-left: 30px;
    text-align: center;
    border-left: solid 1px black;
    border-right: solid 1px black;
    text-decoration: none;
    color: black;
}

.page:hover{
background-color: lime;
transition: 1s;
}

.apresentacao{
    width: 1100px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

.informacao{
    width: 700px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#chihiro{
    background-image: url(../img/A-Viagem-de-Chihiro-chihiro-e-haku.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -150px;
}
#chihiro:hover{
    transition: 2s;
    height: 470px;
    background-position-y: -140px;
}

#liga{
    background-image: url(../img/galeria1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -100px;
}

#liga:hover{
    transition: 2s;
    height: 470px;
    background-position-y: -50px;
}

#marley{
    background-image: url(../img/Marley.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -50px;
}

#marley:hover{
    transition: 2s;
    height: 470px;
    background-position-y: -39px;
}

#guardioes{
    background-image: url(../img/galeria/n3gb8oqP9BeRCUsCmZVaT5eltPH.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -140px;
}

#guardioes:hover{
    transition: 2s;
    height: 470px;
    background-position-y: -120px;
}

#vingador{
    background-image: url(../img/avengers-infinity-war.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -80px;
    background-position-x: -80;
}

#vingador:hover{
    transition: 2s;
    height: 520px;
    background-position-y: -50px;
}

#gump{
    background-image: url(../img/cp2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -50px;
}

#gump:hover{
    transition: 2s;
    height: 470px;
    background-position-y: -30px;
}

.linkFilme{
    width: 1100px;
    height: 200px;
    background-color: khaki;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

footer{
    width: 100%;
    height: 50px;
    background-color: aliceblue;
    padding-top: 10px;
}

.redes{
    width: 500px;
    height: 50px;
    float: left;
    margin-left: 50px;
}

.texto{
    width: 250px;
    height: 20px;
    float: left;
}

.face, .twitter, .insta{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    float: left;
}

.face{
    background-image: url(../img/facebook.png);
    background-size: cover;
}

.insta{
    background-image: url(../img/instagram.png);
    background-size: cover;
}

.twitter{
    background-image: url(../img/twitter.png);
    background-size: cover;
}

.copyright{
    width: 500px;
    height: 50px;
    float: left;
    margin-left: 50px;
    text-align: center;
}